@charset "UTF-8";

body {
    text-align: center;
    margin: 100px 0;
}

table {
    margin: 0 auto;
    margin-top: 30px;
}

table td {
    padding: 5px;
}

.practice {
    margin-top: 100px;
}


/* レベル６ */

.level6 td {
    border: 1px solid;
}

/* レベル７ */

.level7 tr:first-child td {
    border: 1px solid;
}

/* レベル８ */

.level8   tr:first-child td {
    border: 1px solid;
}

.level8 tr:last-child td {
    border: 1px solid;
}


/* レベル９ */

.level9 th {
    border: 1px solid;
}


/* レベル１０ */

.level10 th {
    border: 1px solid;
}

.level10 tr:last-child td {
    border: 1px solid;
}


/* レベル１１ */

.level11 tr td:first-child {
    border: 1px solid;
}

.level11 tr td:last-child {
    border: 1px solid;
}


/* レベル１２ */

.level12 td {
    border: 1px solid;
}

.level12 table {
    border-collapse:collapse
}


/* レベル１３ */


/* border-collapse:collapseでボーダーを重ねる */


.level13 table {
    border-collapse:collapse
}

.level13 tr td{
    border-right: 1px solid;
}

.level13 tr td:last-child{
    border-right: none;
}


/* レベル１４ */


.level14 table {
    border-collapse:collapse
}

.level14 tr td{
    border-right: 1px solid;
}

.level14 tr td:last-child{
    border-right: none;
}

.level14 tr td{
    border-bottom: 1px solid;
}

.level14 tr:last-child td{
    border-bottom: none;
}


/* レベル１５ */



.level15 table {
    border-collapse:collapse
}

.level15 tr th:first-child {
    border-right: 1px solid;

}

.level15 tr:first-child th {
    border-bottom: 1px solid;

}


/* レベルEX1 */


.levelEX1 tr:nth-child(2) td:nth-child(2){
    border: 1px solid;
}


